###############################################################################
# Clocks
###############################################################################
LOCATE COMP "clk" SITE K23;
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 100 MHZ;

###############################################################################
# DDR3
###############################################################################
LOCATE COMP "ddram_a[0]" SITE "T5";
IOBUF PORT "ddram_a[0]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[0]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[1]" SITE "M3";
IOBUF PORT "ddram_a[1]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[1]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[2]" SITE "L3";
IOBUF PORT "ddram_a[2]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[2]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[3]" SITE "V6";
IOBUF PORT "ddram_a[3]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[3]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[4]" SITE "K2";
IOBUF PORT "ddram_a[4]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[4]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[5]" SITE "W6";
IOBUF PORT "ddram_a[5]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[5]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[6]" SITE "K3";
IOBUF PORT "ddram_a[6]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[6]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[7]" SITE "L1";
IOBUF PORT "ddram_a[7]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[7]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[8]" SITE "H2";
IOBUF PORT "ddram_a[8]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[8]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[9]" SITE "L2";
IOBUF PORT "ddram_a[9]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[9]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[10]" SITE "N1";
IOBUF PORT "ddram_a[10]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[10]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[11]" SITE "J1";
IOBUF PORT "ddram_a[11]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[11]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[12]" SITE "M1";
IOBUF PORT "ddram_a[12]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[12]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[13]" SITE "K1";
IOBUF PORT "ddram_a[13]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[13]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_a[14]" SITE "H1";
IOBUF PORT "ddram_a[14]" SLEWRATE=FAST;
IOBUF PORT "ddram_a[14]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_ba[0]" SITE "U6";
IOBUF PORT "ddram_ba[0]" SLEWRATE=FAST;
IOBUF PORT "ddram_ba[0]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_ba[1]" SITE "N3";
IOBUF PORT "ddram_ba[1]" SLEWRATE=FAST;
IOBUF PORT "ddram_ba[1]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_ba[2]" SITE "N4";
IOBUF PORT "ddram_ba[2]" SLEWRATE=FAST;
IOBUF PORT "ddram_ba[2]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_ras_n" SITE "T3";
IOBUF PORT "ddram_ras_n" SLEWRATE=FAST;
IOBUF PORT "ddram_ras_n" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_cas_n" SITE "P2";
IOBUF PORT "ddram_cas_n" SLEWRATE=FAST;
IOBUF PORT "ddram_cas_n" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_we_n" SITE "R3";
IOBUF PORT "ddram_we_n" SLEWRATE=FAST;
IOBUF PORT "ddram_we_n" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_dm[0]" SITE "U4";
IOBUF PORT "ddram_dm[0]" SLEWRATE=FAST;
IOBUF PORT "ddram_dm[0]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_dm[1]" SITE "U1";
IOBUF PORT "ddram_dm[1]" SLEWRATE=FAST;
IOBUF PORT "ddram_dm[1]" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_dq[0]" SITE "T4";
IOBUF PORT "ddram_dq[0]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[0]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[0]" TERMINATION=75;
LOCATE COMP "ddram_dq[1]" SITE "W4";
IOBUF PORT "ddram_dq[1]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[1]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[1]" TERMINATION=75;
LOCATE COMP "ddram_dq[2]" SITE "R4";
IOBUF PORT "ddram_dq[2]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[2]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[2]" TERMINATION=75;
LOCATE COMP "ddram_dq[3]" SITE "W5";
IOBUF PORT "ddram_dq[3]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[3]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[3]" TERMINATION=75;
LOCATE COMP "ddram_dq[4]" SITE "R6";
IOBUF PORT "ddram_dq[4]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[4]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[4]" TERMINATION=75;
LOCATE COMP "ddram_dq[5]" SITE "P6";
IOBUF PORT "ddram_dq[5]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[5]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[5]" TERMINATION=75;
LOCATE COMP "ddram_dq[6]" SITE "P5";
IOBUF PORT "ddram_dq[6]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[6]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[6]" TERMINATION=75;
LOCATE COMP "ddram_dq[7]" SITE "P4";
IOBUF PORT "ddram_dq[7]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[7]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[7]" TERMINATION=75;
LOCATE COMP "ddram_dq[8]" SITE "R1";
IOBUF PORT "ddram_dq[8]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[8]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[8]" TERMINATION=75;
LOCATE COMP "ddram_dq[9]" SITE "W3";
IOBUF PORT "ddram_dq[9]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[9]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[9]" TERMINATION=75;
LOCATE COMP "ddram_dq[10]" SITE "T2";
IOBUF PORT "ddram_dq[10]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[10]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[10]" TERMINATION=75;
LOCATE COMP "ddram_dq[11]" SITE "V3";
IOBUF PORT "ddram_dq[11]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[11]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[11]" TERMINATION=75;
LOCATE COMP "ddram_dq[12]" SITE "U3";
IOBUF PORT "ddram_dq[12]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[12]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[12]" TERMINATION=75;
LOCATE COMP "ddram_dq[13]" SITE "W1";
IOBUF PORT "ddram_dq[13]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[13]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[13]" TERMINATION=75;
LOCATE COMP "ddram_dq[14]" SITE "T1";
IOBUF PORT "ddram_dq[14]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[14]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[14]" TERMINATION=75;
LOCATE COMP "ddram_dq[15]" SITE "W2";
IOBUF PORT "ddram_dq[15]" SLEWRATE=FAST;
IOBUF PORT "ddram_dq[15]" IO_TYPE=SSTL15_I;
IOBUF PORT "ddram_dq[15]" TERMINATION=75;
LOCATE COMP "ddram_dqs_p[0]" SITE "V4";
IOBUF PORT "ddram_dqs_p[0]" SLEWRATE=FAST;
IOBUF PORT "ddram_dqs_p[0]" IO_TYPE=SSTL15D_I;
IOBUF PORT "ddram_dqs_p[0]" TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[0]" DIFFRESISTOR=100;
LOCATE COMP "ddram_dqs_p[1]" SITE "V1";
IOBUF PORT "ddram_dqs_p[1]" SLEWRATE=FAST;
IOBUF PORT "ddram_dqs_p[1]" IO_TYPE=SSTL15D_I;
IOBUF PORT "ddram_dqs_p[1]" TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[1]" DIFFRESISTOR=100;
LOCATE COMP "ddram_clk_p" SITE "H3";
IOBUF PORT "ddram_clk_p" SLEWRATE=FAST;
IOBUF PORT "ddram_clk_p" IO_TYPE=SSTL15D_I;
LOCATE COMP "ddram_cke" SITE "P1";
IOBUF PORT "ddram_cke" SLEWRATE=FAST;
IOBUF PORT "ddram_cke" IO_TYPE=SSTL15_I;
LOCATE COMP "ddram_odt" SITE "P3";
IOBUF PORT "ddram_odt" SLEWRATE=FAST;
IOBUF PORT "ddram_odt" IO_TYPE=SSTL15_I;
